<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/styles404.css">
</head>

<body>
  <div class="container">
    <div class="error-template">
      <h1>Oops!</h1>
      <div class="content-body">
        <div class="error-details">
          Lo sentimos, pero la página que busca no existe
        </div>
        <div class="error-actions">
          <a href="/">Volver a inicio </a>
        </div>
      </div>
    </div>
    <h2 class="warning">404 <br>Not Found</h2>
  </div>
</body>

</html>