@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

::selection {
  background: none;
}

::-moz-selection {
  background: none;
}

:root {
  --azul-claro: #4D4E63;
  --azul-oscuro: #1d1d37;
  --rosa: rgb(234, 75, 120);
}


/* editar la barra de scroll */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

textarea, input {
  outline: none;
}

a, ul, li {
  list-style: none;
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: 'Poppins';
  overflow-x: hidden;
}


.header {
  background-color: rgb(238, 238, 238);
  display: flex;
  min-width: 350px;
  justify-content: space-between;
  align-items: center;
  padding-right: 2vw;
  padding-left: 1vw;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  -webkit-box-shadow: 5px 5px 42px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 5px 42px -1px rgba(0, 0, 0, 0.33);
  transition: height 1s ease;
}

.blanco {
  width: 84%;

}

.contenedorTitulo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textTitle {
  font-weight: 300;
  font-size: clamp(15px, 2.3vw + .5rem, 40px);
  line-height: 100%;
  letter-spacing: 3px;
  color: #262742;
  margin-right: 3rem;
}

.contenedorSignOut {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 20%;
  margin-right: 2vw;
}

.avatarUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 1vw;
  color: #262742;
  border: solid #262742 3px;
  text-align: center;
}

.avatarUsuario:hover {
  cursor: pointer;
  background: #EA4B78;
  border: #EA4B78;
  color: white;
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content.showDropContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: clamp(.7rem, .9vw, 1.3rem);
  margin-left: -4rem;
  width: 210px;
  margin-top: 1rem;
  background-color: white;
  z-index: 99;
}

.dropdown-content .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem .5rem;
  cursor: pointer;

}

.dropdown-content .dropdown-item i {
  padding-right: 1.5rem;
  margin-left: .5rem;
  font-size: clamp(.5rem, 1vw, 1.3rem);

}

.dropdown-content .dropdown-item:hover {
  background-color: #EA4B78;
}

.dropdown-item:hover a, .dropdown-item:hover i {
  color: white;
}

.botonNombreUsuario {
  font-size: clamp(12px, 1vw + .4rem, 20px);
  background-color: none;
  background: none;
  font-family: "Poppins";
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}

#my_formSignOut i {
  font-size: clamp(14px, 1vw + 1rem, 30px);
  color: #262742;
  z-index: 999;
}

#my_formSignOut i:hover {
  cursor: pointer;
  transform: scale(1.07);
  color: #EA4B78;
}

.contenedorLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorLogo .logoRegistro {
  margin-top: 5%;
  color: white;
  width: 9vw;
}

#flechasVectorLogo {
  animation: rotate 3.5s ease-in-out infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation-direction: reverse;
}

@keyframes rotate {
  50%, 100% {
    transform: rotate(360deg);
  }
}

.containerSidebar {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  margin-left: 4vw;
  width: 17vw;
  background-color: #262742;
  height: 100vh;
}

.containerSidebar .sidenav {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.sidenav li:hover a {
  font-weight: 600;
}

.containerList li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-left: 1.5rem;
}

.containerList li:hover {
  cursor: pointer;
  background-color: #EA4B78;
}

.containerList li a {
  padding: 1rem 0 1rem 10%;
  color: white;
  font-size: clamp(8px, .55vw + .4rem, 25px);
  text-align: left;
  width: 100%;
}

.containerList li i {
  font-size: clamp(11px, .9vw + .5rem, 21px);

}

.containerSidebar .contenedorSearch {
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  background: #1D1D37;
  margin-top: 2vw;
  padding: 1vw;
  border: none;
  outline: none;
  margin: 0px 10px;
  color: #fff;
  position: relative;
}

.containerSidebar #selectCiudad {
  background-color: transparent;
  color: white;
  font-family: 'Poppins';
  border: none;
  outline: none;
  font-size: clamp(8px, 1vw, 15px);

}

.containerSidebar #selectCiudad:hover {
  cursor: pointer;
}

#selectCiudad option {
  text-align: center;
  background: transparent;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 30px;
  font-size: clamp(8px, 1vw, 15px);

}

#selectCiudad option:hover {
  background-color: #EA4B78;
}


select::-webkit-scrollbar {
  width: 2px;
}

select::-webkit-scrollbar-thumb {
  background-color: #EA4B78;
  border: none;
  outline: none;
}

select::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: none;
}

#botonCiudad {
  background-color: transparent;
  border: none;
  outline: none;
}


.contenedorSearch i {
  display: flex;
  color: white;
  font-size: 1rem;
}

.contenedorSearch i:hover {
  background-color: transparent;
  cursor: pointer;
  color: #EA4B78;
}


#my_form {
  width: 100%;
}







.container {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79%;
}

.containerFooter {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  background: rgba(38, 39, 66, 0.8);
  width: 100vw;
  margin-top: 2rem;
}

.footer {
  color: white;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 12px;
}

.footer p:first-of-type {
  margin-right: 30%;
}



@media screen and (max-width:900px) {

  .dropdown-content.showDropContent {
    margin-left: -3rem;
    width: 150px;
    margin-top: .7rem;
  }

  .dropdown-content .dropdown-item {
    padding: .5rem .2rem;
  }

  .dropdown-content .dropdown-item i {
    padding-right: 1rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .containerMain {
    width: 100%;
    margin: 0 auto;
  }

  .blanco {
    display: none;
  }

  .textTitle {
    margin-left: 3rem;
    margin-right: 0;
  }

  .containerSidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #262742;
    align-items: center;
    margin-left: 0;
  }

  .containerSidebar .sidenav {
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
  }


  .sidenav .containerList {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .containerList li {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.3rem;
  }

  .containerList li a {
    text-align: center;
    font-size: clamp(7px, 1vw + .1rem, 12px);

    padding: 0rem;
  }

  .containerList li:hover {
    cursor: pointer;
    background-color: #EA4B78;
  }

  .sidenav li:hover a {
    font-weight: inherit;

  }

  .contenedorSearch i {
    padding-right: .5rem;
  }

}

@media screen and (max-width:650px) {
  .contenedorLogo {
    display: none;
  }

  .containerSidebar {
    justify-content: center;
  }

  .containerList li {

    padding: 1.2rem 1.1rem;
  }



}

@media screen and (max-width:550px) {

  .containerList li i, .contenedorSearch i {

    font-size: 10px;
  }

  .containerList li {

    padding: 1.2rem .7rem;
  }

  .avatarUsuario {
    display: none;
  }

  .botonNombreUsuario {
    background-color: var(--azul-claro);
    color: white;
    padding: .2rem;
    border-radius: 10px;
    margin-right: 1rem;
  }
}

@media screen and (max-width:500px) {

  .contenedorSignOut {
    margin-right: 1rem;
  }

  .containerList li {

    padding: .7rem .4rem;
  }

  .containerList li a {

    display: none;
  }

  .containerList li i {
    font-size: 18px;
    padding: .6rem .8rem;
  }
}